///
/// Container Styles (container, row, box)
///



/* Container */
.container {
	margin: 0 auto;
	max-width: calc(100% - #{_size(element-margin) * 2});
	width: _size(container-width);

	&.xsmall {
		width: (_size(container-width) * 0.25);
	}

	&.small {
		width: (_size(container-width) * 0.5);
	}

	&.medium {
		width: (_size(container-width) * 0.75);
	}

	&.large {
		width: (_size(container-width) * 1.25);
	}

	&.xlarge {
		width: (_size(container-width) * 1.5);
	}

	&.max {
		width: 100%;
	}

	@include breakpoint('<=medium') {
		width: 100% !important;
		max-width: 100% !important;
	}

	@include breakpoint('<=xsmall') {
		max-width: calc(100% - #{_size(element-margin) * 1.5});
	}
}

/* Row */
.row {
	@include html-grid(2.5em);

	@include breakpoint('<=xlarge') {
		@include html-grid(2.5em, 'xlarge');
	}

	@include breakpoint('<=large') {
		@include html-grid(2em, 'large');
	}

	@include breakpoint('<=medium') {
		@include html-grid(2em, 'medium');
	}

	@include breakpoint('<=small') {
		@include html-grid(1.5em, 'small');
	}

	@include breakpoint('<=xsmall') {
		@include html-grid(1.5em, 'xsmall');
	}
}

/* Box */
.box {
	border-radius: _size(border-radius);
	border: solid 2px _palette(border);
	margin-bottom: _size(element-margin);
	padding: 1.5em;

	> :last-child,
	> :last-child > :last-child,
	> :last-child > :last-child > :last-child {
		margin-bottom: 0;
	}

	&.alt {
		border: 0;
		border-radius: 0;
		padding: 0;
	}
}